name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4.4.0
        with:
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json
